@import '../scss/colors.scss';
@import '../scss/font.scss';
@import '../scss/animations.scss';
@import '../scss/modal.scss';

.exibicoes {
    padding-top: 20vw;
    position: relative;
    background-size: cover;
    background-attachment: fixed;

    .exibicoes__show:has(span) {
        display: none;
    }

    .exibicoes__hide {
        cursor: default !important;
    }

    .exibicoes__sessao {
        margin-bottom: 4vw;

        .exibicoes__sessao__title {
            position: relative;
            font-family: 'garage-gothic', sans-serif;
            font-size: 50px;
            color:  $vermelho;
            font-weight: 700;
            margin-bottom: 1vw;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 90;
        }

        .exibicoes__sessao__data {
            font-family: 'neue-haas-grotesk-display', sans-serif;
            font-size: 16px;
            color:  $cinza;
            font-weight: 700;
            margin-bottom: 2vw;
        }

        .exibicoes__sessao__watch {
            font-family: 'garage-gothic', sans-serif;
            font-size: 20px;
            color:  $preto;
            font-weight: 700;
            background-color: $cinza;
            padding: 0.5vw;
            width: fit-content;
            margin-bottom: 2vw;
            clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); 

        }

        .exibicoes__sessao__filme {
            position: relative;
            height: 100%;
            height: 10vw;
            background-color: $preto;
            background-size: cover;
            cursor: pointer;
            padding: 1vw;
            margin-bottom: 2vw;
            border: 2px solid black;

            .exibicoes__sessao__filme__nome {
                font-family: 'garage-gothic', sans-serif;
                font-size: 20px;
                color:  $cinza;
                font-weight: 700;
            }

            .exibicoes__sessao__filme__ano {
                position: absolute;
                left: 5;
                bottom: 10%;
                font-family: 'neue-haas-grotesk-display', sans-serif;
                font-size: 12px;
                color:  $cinza;
                font-weight: 700;
                margin-bottom: 0.5vw;
            }

            .exibicoes__sessao__filme__direção {
                position: absolute;
                bottom: 24%;
                font-family: 'neue-haas-grotesk-display', sans-serif;
                font-size: 12px;
                color:  $cinza;
                font-weight: 700;
                margin-bottom: 0.5vw;
            }
        }
    }
}

.hide {
    cursor: default !important;
}

.grey_border {
    border: 2px solid $cinza !important;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.close {
    background: none;
    border: none;
    outline: none;
    font-family: 'garage-gothic', sans-serif;
    font-size: 50px;
    color:  $vermelho;
    font-weight: 700;
    margin-top: 2vw;
}

@media only screen and (max-width: 767px) {

    .exibicoes {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 50vw;
        background-position: center;

        .exibicoes__sessao {
            margin-bottom: 14vw;

            .exibicoes__sessao__title {
                font-size: 30px;
                margin-bottom: 4vw;
            }

            .exibicoes__sessao__watch {
                font-size: 16px;
                margin-bottom: 6vw;
                padding: 2vw;
            }

            .exibicoes__sessao__data {
                font-size: 11px;
                line-height: 2;
                margin-bottom: 6vw;
            }

            .exibicoes__sessao__filme {
                height: 34vw;
                padding: 4vw;
                margin-bottom: 6vw;

                .exibicoes__sessao__filme__nome {
                    font-size: 14px;
                }

                .exibicoes__sessao__filme__ano {
                    font-size: 8px;
                }

                .exibicoes__sessao__filme__direção {
                    font-size: 8px;
                }
            }
        }
    }

    .close {
        font-size:30px
    }

}

@media only screen and (min-width: 400px) and (max-width: 767px) {



}

@media only screen and (min-width: 900px) and (max-width: 1100px) {

    .exibicoes {
        .exibicoes__sessao {

            .exibicoes__sessao__title {
                font-size: 30px;
            }

            .exibicoes__sessao__watch {
                font-size: 16px;
            }

            .exibicoes__sessao__data {
                font-size: 12px;
            }

            .exibicoes__sessao__filme {
                .exibicoes__sessao__filme__nome {
                    font-size: 14px;
                }

                .exibicoes__sessao__filme__direção {
                    font-size: 8px;
                }

                .exibicoes__sessao__filme__ano {
                    font-size: 8px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {

    .exibicoes {
        .exibicoes__sessao {

            .exibicoes__sessao__title {
                font-size: 40px;
            }

            .exibicoes__sessao__watch {
                font-size: 16px;
            }

            .exibicoes__sessao__data {
                font-size: 12px;
            }

            .exibicoes__sessao__filme {
                .exibicoes__sessao__filme__nome {
                    font-size: 16px;
                }

                .exibicoes__sessao__filme__direção {
                    font-size: 10px;
                }

                .exibicoes__sessao__filme__ano {
                    font-size: 10px;
                }
            }
        }
    }



}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {

    .exibicoes {
        .exibicoes__sessao {

            .exibicoes__sessao__title {
                font-size: 40px;
            }

            .exibicoes__sessao__watch {
                font-size: 16px;
            }

            .exibicoes__sessao__data {
                font-size: 12px;
            }

            .exibicoes__sessao__filme {
                .exibicoes__sessao__filme__nome {
                    font-size: 16px;
                }

                .exibicoes__sessao__filme__direção {
                    font-size: 10px;
                }

                .exibicoes__sessao__filme__ano {
                    font-size: 10px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {



}