@import '../scss/colors.scss';
@import '../scss/font.scss';
@import '../scss/animations.scss';

.lista-sessoes {
    margin-bottom: 10vw;

    .lista-sessoes__title {
        font-family: 'garage-gothic', sans-serif;
        font-size: 90px;
        color:  $preto;
        font-weight: 700;
        margin-bottom: 8vw;
        text-transform: uppercase;
    }

    .lista-sessoes__sessao {
        margin-bottom: 8vw;
        padding: 2vw;
        position: relative;
        height: 34vw;

        .lista-sessoes__sessao__img {
            position: absolute;
            z-index: 0;
            left: -22%;
            top: -16%;
            width: 70vw;
        }
        
        .lista-sessoes__sessao__info {
            position: relative;
            font-family: 'neue-haas-grotesk-display', sans-serif;
            font-size: 16px;
            color:  $cinza;
            font-weight: 700;
            margin-bottom: 0.5vw;
            font-style: italic;
            text-transform: uppercase;
            z-index: 90;

        }

        .lista-sessoes__sessao__nome {
            position: relative;
            font-family: 'garage-gothic', sans-serif;
            font-size: 50px;
            color:  $vermelho;
            font-weight: 700;
            margin-bottom: 1vw;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 90;
        }

        .lista-sessoes__sessao__classificacao {
            position: relative;
            font-family: 'neue-haas-grotesk-display', sans-serif;
            font-size: 18px;
            color:  $cinza;
            font-weight: 400;
            margin-bottom: 2vw;
            z-index: 90;
        }

        .lista-sessoes__sessao__extra {
            position: relative;
            font-family: 'neue-haas-grotesk-display', sans-serif;
            font-size: 18px;
            color:  $cinza;
            font-weight: 400;
            z-index: 90;
        }

        .lista-sessoes__sessao__filme {
            position: relative;
            z-index: 90;
            padding-right: 4vw;

            .lista-sessoes__sessao__filme__title {
                font-family: 'garage-gothic', sans-serif;
                font-size: 22px;
                color:  $vermelho;
                font-weight: 700;
                margin-bottom: 1vw;
                text-decoration: none;
                text-transform: uppercase;
            }

            .lista-sessoes__sessao__filme__info {
                margin-left: 0.5vw;
                font-family: 'neue-haas-grotesk-display', sans-serif;
                font-size: 14px;
                color:  $cinza;
                font-weight: 400;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}


@media only screen and (max-width: 767px) {

    .lista-sessoes {
        padding-top: 30vw;
        padding-left: 4vw;
        padding-right: 4vw;
        margin-bottom: 30vw;

        .lista-sessoes__title {
            font-size: 50px;
            margin-bottom: 30vw;
        }

        .lista-sessoes__sessao {
            margin-bottom: 40vw;
            padding: 6vw;
            padding-right: 8vw;
            height: 170vw;

            .lista-sessoes__sessao__img {
                left: -87%;
                top: 15%;
                width: 240vw;
                transform: rotate(90deg);
            }

            .lista-sessoes__sessao__nome {
                font-size: 30px;
                margin-bottom: 4vw;
            }

            .lista-sessoes__sessao__classificacao {
                font-size: 12px;
                margin-bottom: 10vw;
                line-height: 2;
            }

            .lista-sessoes__sessao__extra {
                font-size: 12px;
                line-height: 2;
            }

            .lista-sessoes__sessao__info {
                font-size: 12px;
                line-height: 2;
                margin-bottom: 6vw;
            }

            .lista-sessoes__sessao__filme {
                .lista-sessoes__sessao__filme__title {
                    font-size: 20px;
                    padding-bottom: 4vw;
                }

                .lista-sessoes__sessao__filme__info {
                    font-size: 12px;
                }
            }
        }

    }


}

@media only screen and (min-width: 400px) and (max-width: 767px) {

    .lista-sessoes {
        .lista-sessoes__sessao {
            .lista-sessoes__sessao__filme {
                padding-bottom: 6vw;
            }
        }
    }

}

@media only screen and (min-width: 900px) and (max-width: 1100px) {

    .lista-sessoes {

        .lista-sessoes__title {
            font-size: 50px;
        }

        .lista-sessoes__sessao {

            .lista-sessoes__sessao__img {
                width: 80vw;
            }

            .lista-sessoes__sessao__nome {
                font-size: 30px;
            }

            .lista-sessoes__sessao__classificacao {
                font-size: 14px;
            }

            .lista-sessoes__sessao__extra {
                font-size: 14px;
            }

            .lista-sessoes__sessao__info {
                font-size: 12px;
            }

            .lista-sessoes__sessao__filme {
                .lista-sessoes__sessao__filme__title {
                    font-size: 16px;
                }

                .lista-sessoes__sessao__filme__info {
                    font-size: 10px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {

    .lista-sessoes {

        .lista-sessoes__title {
            font-size: 70px;
        }


        .lista-sessoes__sessao {

            .lista-sessoes__sessao__img {
                width: 77vw;
            }

            .lista-sessoes__sessao__nome {
                font-size: 34px;
            }

            .lista-sessoes__sessao__classificacao {
                font-size: 16px;
            }

            .lista-sessoes__sessao__extra {
                font-size: 16px;
            }

            .lista-sessoes__sessao__info {
                font-size: 14px;
            }

            .lista-sessoes__sessao__filme {
                .lista-sessoes__sessao__filme__title {
                    font-size: 18px;
                }

                .lista-sessoes__sessao__filme__info {
                    font-size: 12px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {

    .lista-sessoes {

        .lista-sessoes__title {
            font-size: 70px;
        }


        .lista-sessoes__sessao {

            .lista-sessoes__sessao__img {
                width: 75vw;
            }


            .lista-sessoes__sessao__nome {
                font-size: 38px;
            }

            .lista-sessoes__sessao__classificacao {
                font-size: 16px;
            }

            .lista-sessoes__sessao__extra {
                font-size: 16px;
            }

            .lista-sessoes__sessao__info {
                font-size: 14px;
            }

            .lista-sessoes__sessao__filme {
                .lista-sessoes__sessao__filme__title {
                    font-size: 18px;
                }

                .lista-sessoes__sessao__filme__info {
                    font-size: 12px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {

    .lista-sessoes {
        .lista-sessoes__sessao {
            .lista-sessoes__sessao__nome {
                font-size: 44px;
            }

            .lista-sessoes__sessao__img {
                width: 75vw;
            }
        }

    }

}