@import '../scss/colors.scss';
@import '../scss/font.scss';
@import '../scss/animations.scss';


.icon {
    position: fixed;
    top: 12%;
    left: 3%;
    width: 8%;
    cursor: pointer;
    z-index: 10;
}

.open {
    position: fixed;
    top: 10%;
    left: 3%;
    width: 14%;
    padding: 1vw;
    padding-left: 3vw;
    padding-bottom: 0;
    z-index: 10;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;

    .open__close {
        position: absolute;
        width: 20%;
        right: 10%;
        top: 4%;
        cursor: pointer;
    }

    .open__link {
        display: block;
        font-family: 'garage-gothic', sans-serif;
        font-size: 26px;
        color:  $cinza;
        font-weight: 700;
        margin-bottom: 1.5vw;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            color: $preto;
        }

        &:first-of-type {
            padding-top: 6vw;
        }
    }
}

@media only screen and (max-width: 767px) {
    .icon {
        position: fixed;
        top: 8%;
        left: 5%;
        width: 30%;
        cursor: pointer;
        z-index: 99;
    }

    .open {
        top: 8%;
        left: 5%;
        width: 50%;
        padding: 1vw;
        padding-left: 10vw;
        padding-bottom: 0;
        z-index: 99;
        height: 100%;

        .open__link {
            font-size: 22px;
            margin-bottom: 3vw;

            &:first-of-type {
                padding-top: 22vw;
            }
        }
    }

}

@media only screen and (min-width: 400px) and (max-width: 767px) {

    .open {
        .open__close {
            top: 4%;
            right: 10%;
        }

        .open__link {
            margin-bottom: 4.5vw;
        }
    }

}
  


@media only screen and (min-width: 900px) and (max-width: 1100px) {

    .open {
        width: 20%;
        padding-left: 4vw;

        .open__link {
            font-size: 22px;

            &:first-of-type {
                padding-top: 11vw;
            }
        }

        .open__close {
            top: 6%;
        }
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1300px) {

    .open {
        width: 16%;
        padding-left: 3.5vw;

        .open__link {
            font-size: 22px;

            &:first-of-type {
                padding-top: 8vw;
            }
        }

        .open__close {
            top: 6%;
        }
    }

}

@media only screen and (min-width: 1301px) and (max-width: 1500px) {

    .open {
        width: 15%;
        padding-left: 3.5vw;

        .open__link {
            font-size: 22px;

            &:first-of-type {
                padding-top: 7vw;
            }
        }

        .open__close {
            top: 6%;
        }
    }

}

@media only screen and (min-width: 1501px) and (max-width: 1700px) {

    .open {
        width: 14%;
        padding-left: 3vw;

        .open__link {
            &:first-of-type {
                padding-top: 6vw;
            }
        }

        .open__close {
            top: 5%;
            right: 15%;
        }
    }

}