@import '../scss/colors.scss';
@import '../scss/font.scss';

.modal-content {
    margin-top: 10vw;
    background-color:none !important;
    background: none !important;

}

.modal.show .modal-dialog {
    min-width: 50vw;
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.80 !important;
}